extends ./layouts/main.pug
block content
  main.mt-5
    div.container
      //-Section diary
      section#diary.text-center
        //-Heading
        h2.mb-5.font-weight-bold Agenda
        //-Grid row
        div.row
          //-Grid column
          div.col-md-6
            //-Carousel
            div#carousel-diary.carousel.slide(data-ride="carousel") 
              //-Indicators
              ul.carousel-indicators
                li.active(data-target="#carousel-diary" data-slide-to="0")
                li(data-target="#carousel-diary" data-slide-to="1")
                li(data-target="#carousel-diary" data-slide-to="2")
              //-Slides
              div.carousel-inner.z-depth-1-half(role="listbox")
                div.carousel-item.active
                  img.d-block.w-100(src="/img/005.jpeg" alt="First slide")
                div.carousel-item
                  img.d-block.w-100(src="/img/006.jpeg" alt="Second slide")
                div.carousel-item
                  img.d-block.w-100(src="/img/007.jpeg" alt="Third slide")
              //-Controls
              a.carousel-control-prev(href="#carousel-diary" role="button" data-slide="prev")
                img(src="/img/svg/ic_keyboard_arrow_left_black_24px.svg")
              a.carousel-control-next(href="#carousel-diary" role="button" data-slide="next")
                img(src="/img/svg/ic_keyboard_arrow_right_black_24px.svg")
          div.col-md-6
            h4.pb-1 Nuestro recorrido
            p
              | Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit 
              | quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, 
              | omnis dolor repellendus et aut officiis debitis aut rerum.
            p
              | Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit 
              | quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, 
              | omnis dolor repellendus et aut officiis debitis aut rerum.
      
      hr.my-5
      //-Section about-us
      section#about-us.text-center
        //-Heading
        h2.mb-5.font-weight-bold Conócenos
        //-Grid row
        div.row.d-flex.justify-content-center.mb-4
          //-Grid column
          div.col-md-8
            p.grey-text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate hic provident nulla repellat 
              | facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis est sit pariatur.
        //-Grid row
        div.row
          //-Grid column
          div.col-lg-4.col-md-4.mb-4
            div.view.overlay.hm-white-slight.z-depth-1-half
              img.img-fluid(src="https://pbs.twimg.com/media/DPWJIzMVAAEVl-h.jpg:large" alt="")
              div.mask
            h4.my-4.font-weight-bold Título
            p.grey-text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima
              | assumenda deleniti hic.
          //-Grid column
          div.col-lg-4.col-md-4.mb-4
            div.view.overlay.hm-white-slight.z-depth-1-half
              img.img-fluid(src="https://pbs.twimg.com/media/DTltiEvW0AEoGaI.jpg:large" alt="")
              div.mask
            h4.my-4.font-weight-bold Título
            p.grey-text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima
              | assumenda deleniti hic.
              
          //-Grid column
          div.col-lg-4.col-md-4.mb-4
            div.view.overlay.hm-white-slight.z-depth-1-half
              img.img-fluid(src="https://pbs.twimg.com/media/DUGpzT1VoAApj_7.jpg:large" alt="")
              div.mask
            h4.my-4.font-weight-bold Título
            p.grey-text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima
              | assumenda deleniti hic.

      hr.my-5
      
      div.fixed-action-btn.smooth-scroll(style="bottom: 45px; right: 24px;")
        a.btn-floating.btn-large.red.waves-effect.waves-light(href="#intro"): i.fa.fa-arrow-up

      //-Modal
      div#donation-modal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="donation-modal-label" aria-hidden="true")
        div.modal-dialog.modal-lg(role="document")
          div.modal-content
            div.modal-header
              //-h4#donation-modal-label.modal-title Modal title
              div.row.justify-content-start
                div.col-md-4.grey-text(style="border-right: 1px solid;")
                  p.h5.py-4.grey-text Tarjetas de crédito
                  img.img-fluid(src="/img/cards1.png")
                div.col-md-8
                  p.h6.py-4.grey-text Tarjetas de débito
                  img.img-fluid(src="/img/cards2.png")
              button.close(type="button" data-dismiss="modal" aria-label="Close")
                span(aria-hidden="true") &times;
            div.modal-body
              //-Material form
              form#payment-form.needs-validation(action="/pll" method="POST")
                input#token_id(type="hidden" name="token_id")
                div.row
                  div.col-md-6
                    p.h4.text-center.py-4 Datos personales
                    //-input name
                    div.md-form.form-group
                      i.fa.fa-user.prefix.grey-text
                      input#name.form-control(type="text" name="name" required)
                      label.font-weight-light(for="name") Nombre
                      span(class="text-danger")
                            strong(id="holder_name_error")
                      div.invalid-feedback Ingresa tu nombre
                    //-input lastname
                    div.md-form.form-group(required)
                      i.fa.fa-user.prefix.grey-text
                      input#lastname.form-control(type="text" name="lastname")
                      label.font-weight-light(for="name") Apellido
                        
                    //-input email
                    div.md-form.form-group(required)
                      i.fa.fa-envelope.prefix.grey-text
                      input#email.form-control(type="email" name="email")
                      label.font-weight-light(for="email") Correo electrónico
                  div.col-md-6
                    p.h5.text-center.py-4 Datos de la tarjeta
                    div.row
                      div.col-md-8
                        //-input owner
                        div.md-form.form-group(required)
                          i.fa.fa-user.prefix.grey-text
                          input#holder_name.form-control(type="text" data-openpay-card="holder_name")
                          label.font-weight-light(for="holder_name") Nombre del titular
                          
                      div.col-md-4
                        //-input cvv2                        
                        div.md-form.form-group(required)
                          i.fa.fa-credit-card-alt.prefix.grey-text
                          input#cvv2.form-control(type="text" autocomplete="off" data-openpay-card="cvv2")
                          label.font-weight-light(for="cvv2") CVV
                    //-input card_number
                    div.md-form.form-group(required)
                      i.fa.fa-credit-card-alt.prefix.grey-text
                      input#card_number.form-control(type="text" autocomplete="off" data-openpay-card="card_number")
                      label.font-weight-light(for="card_number") Número de tarjeta
                    div.row
                      div.col-md-4
                        //-input expiration_month  
                        div.md-form.form-group(required)
                          i.fa.fa-calendar.prefix.grey-text
                          input#expiration_month.form-control(type="text" aria-describedby="expiration_help" data-openpay-card="expiration_month")
                          label.font-weight-light(for="expiration_month") MM
                          small#expiration_help.form-text.text-muted Fecha de expiración
                      div.col-md-3
                        //-input expiration_year
                        div.md-form.form-group(required)
                          input#expiration_year.form-control(type="text" data-openpay-card="expiration_year")
                          label.font-weight-light(for="expiration_year") AA
                div.row(style="margin-top: 20px;")
                  div.col-md-8
                  div.col-md-4.grey-text.text-md-right
                    p.grey-text Transacciones realizadas vía:
                    img.img-fluid(src="/img/openpay.png")
                div.text-center.py-4.mt-3
            div.modal-footer
              button.btn.btn-secondary(type="button" data-dismiss="modal") Close
              button#pay-button.btn.btn-warning(type="submit") Donar
