doctype html
html(lang="en")
  head
    title Por la libre
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    //-
      link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css")
      link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
      link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.5/css/mdb.min.css")
      link(rel="stylesheet" href="/css/style.css")
    //-
    
    link(rel="stylesheet" href="/css/font-awesome.min.css")
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/mdb.min.css")
    link(rel="stylesheet" href="/css/style.css")
      
    script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    script(type="text/javascript" src="https://openpay.s3.amazonaws.com/openpay.v1.min.js")
    script(type="text/javascript" src="https://openpay.s3.amazonaws.com/openpay-data.v1.min.js")
    
  body
    //-Mask
    div.view.hm-black-strong
      div.container-fluid.full-bg-img.d-flex.align-items-center.justify-content-center
        div.row.d-flex.justify-content-center
          div.col-md-10.text-center
            //-Heading
            h1.display-3.font-bold.green-text.mb-2 ¡Transacción exitosa!
            //-Divider
            hr.hr-dark
            //-Description
            h4.gray-text.my-4 <?php echo $message;?>
            a.btn.btn-secondary.btn-rounded(href="/" type="button") Volver
              i.fa.fa-arrow-circle-left.ml-2
    //-
    script(type="text/javascript" src="/js/jquery-3.2.1.js")
    script(type="text/javascript" src="/js/popper.min.js")
    script(type="text/javascript" src="/js/bootstrap.min.js")
    script(type="text/javascript" src="/js/mdb.min.js")
    
